In [22]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer 
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.svm import SVC
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [23]:
dados = pd.read_csv('train.csv')
display(dados_.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
dados = dados.drop('Name',axis=1)

display(dados.info())
display(dados.columns)
display(dados)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

None

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [25]:
minmax = MinMaxScaler()
onehot = OneHotEncoder(sparse=False,drop='first')

In [26]:
def criadorxy(dados,input_colunas,output_colunas):
    dados.dropna(axis=0,inplace=True)
    x = dados[input_colunas].copy()
    x_numero = x.select_dtypes(exclude='object')
    x_numero = minmax.fit_transform(x_numero)
    x_numero = pd.DataFrame(data=x_numero,columns=x.select_dtypes(exclude='object').columns)
    x_cat = x.select_dtypes(include='object')
    x_cat = onehot.fit_transform(x_cat)
    colunas = []
    for c,values in zip(x.select_dtypes(include='object').columns,onehot.categories_):
        for value in values[1:]:
            colunas.append(f'{c}_{value}')
    x_cat = pd.DataFrame(data=x_cat,columns=colunas)
    x = x_numero.join(x_cat)
    y = dados[output_colunas].copy()
    return x,y
x,y = criadorxy(dados,['PassengerId','Pclass','Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked',],'Survived')
print(f'Array = dtype {y.dtype}, shape{y.shape}, size{y.size}')

Array = dtype int64, shape(183,), size183
Array = dtype int64, shape(183,), size183

/home/gustavohenrique06112005/.local/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [30]:
x_treino,x_teste,y_treino,y_teste = train_test_split(x,y,test_size=0.33,random_state=1) 
y_treino = np.ravel(y_treino)
cerebro = SVC()
cerebro.fit(x_treino,y_treino)
accuracy_score(y_teste,cerebro.predict(x_teste))

0.8360655737704918

In [28]:
display(x)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_male,Ticket_110413,Ticket_110465,Ticket_110564,...,Cabin_E8,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
0,0.000000,0.0,0.468892,0.333333,0.00,0.139136,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.002252,0.0,0.430956,0.333333,0.00,0.103644,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.005631,0.0,0.671219,0.000000,0.00,0.101229,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.010135,1.0,0.038948,0.333333,0.25,0.032596,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.011261,0.0,0.721801,0.000000,0.00,0.051822,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,0.979730,0.0,0.582701,0.333333,0.25,0.102579,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
179,0.980856,0.0,0.405665,0.000000,0.00,0.009759,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
180,0.988739,0.0,0.696510,0.000000,0.25,0.162314,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181,0.997748,0.0,0.228629,0.000000,0.00,0.058556,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
182,1.000000,0.0,0.317147,0.000000,0.00,0.058556,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
dados_teste = pd.read_csv('test.csv')
dados_teste = dados_teste.drop('Name',axis=1)
dados_teste = dados_teste.drop('PassengerId',axis=1)
dados_teste = dados_teste.drop('Parch',axis=1)
display(dados_teste.columns)
display(dados_teste)

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype='object')

     Pclass     Sex   Age  SibSp              Ticket      Fare Cabin Embarked
0         3    male  34.5      0              330911    7.8292   NaN        Q
1         3  female  47.0      1              363272    7.0000   NaN        S
2         2    male  62.0      0              240276    9.6875   NaN        Q
3         3    male  27.0      0              315154    8.6625   NaN        S
4         3  female  22.0      1             3101298   12.2875   NaN        S
..      ...     ...   ...    ...                 ...       ...   ...      ...
413       3    male   NaN      0           A.5. 3236    8.0500   NaN        S
414       1  female  39.0      0            PC 17758  108.9000  C105        C
415       3    male  38.5      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416       3    male   NaN      0              359309    8.0500   NaN        S
417       3    male   NaN      1                2668   22.3583   NaN        C

[418 rows x 8 columns]

In [43]:
dados_limpo = SimpleImputer()
teste_onehot = dados_teste.select_dtypes(include='object')
teste_onehot = onehot.fit_transform(teste_onehot)
teste_onehot = dados_limpo.fit_transform(teste_onehot)
teste_minmax = dados_teste.select_dtypes(exclude='object')
teste_minmax = minmax.fit_transform(teste_minmax)
teste_minmax = dados_limpo.fit_transform(teste_minmax)
teste = np.append(teste_onehot,teste_minmax,axis=1)

/home/gustavohenrique06112005/.local/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [44]:
display(dados_teste.columns)
display(dados_teste.info())
display(x.columns)
display(x.info())

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Ticket    418 non-null    object
 5   Fare      417 non-null    float64
 6   Cabin     91 non-null     object
 7   Embarked  418 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 26.2+ KB

None

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_male',
       'Ticket_110413', 'Ticket_110465', 'Ticket_110564',
       ...
       'Cabin_E8', 'Cabin_F G63', 'Cabin_F G73', 'Cabin_F2', 'Cabin_F33',
       'Cabin_F4', 'Cabin_G6', 'Cabin_T', 'Embarked_Q', 'Embarked_S'],
      dtype='object', length=267)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Columns: 267 entries, PassengerId to Embarked_S
dtypes: float64(267)
memory usage: 381.9 KB

None